*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-family: 'Chivo', sans-serif;
	font-weight: 700;
	background-color: #181e24;
	/*font-family: 'Lato', sans-serif;*/
}
a {
	display: inline-block;
	text-decoration: none;
}
ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 15px 29px 15px;
	background-color: #fff;
}
.header__top-logo {
	margin-left: 4px;
}
.header__top-logo a {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #4e443e;
	font-size: 28px;
	position: relative;
	padding-right: 13px;
	line-height: 23px;
}
.header__top-logo a::before {
	content: '';
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #f76108;
}
.header__top-list {
	display: flex;
	justify-content: space-between;
}
.header__top-list li a {
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #847f7b;
	transition: all .5s;

}
.header__top-list li a:hover {
	color: #fa6000;
}
.header__top-list li+li {
	margin-left: 15px;
}
.header__top-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__top-item-1 {
	max-width: 745px;
	width: 100%;
}
.header__top-loginreg {
	margin-right: 23px;
}
.header__top-loginreg button {
	vertical-align: middle;
	background-color: transparent;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #847f79;
}
.header__top-loginreg span {
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #847f79;
}
.header__top-search {
	height: 19px;
	transition: all .5s;
	position: relative;
}
.header__top-search.active {
	height: 25px;
	padding: 2px 10px;
	border: 1px solid #fa6000;
	border-radius: 19px;
	padding-left: 150px;
}
.header__top-search input {
	background-color: transparent;
	max-width: 130px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 12px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #847f79;
	transition: all .5s;
	z-index: 1;
	opacity: 0;
	position: absolute;
	left: 10px;
	top: 4.5px;
	visibility: hidden;
}
.header__top-search input::placeholder {
	font-size: 12px;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #847f79;
}
.header__top-search.active input {
	opacity: 1;
	transition: all .5s;
	visibility: visible;
}
.header__top-search button {
	height: 100%;
	background-color: transparent;
	cursor: pointer ;
	outline: none;
	position: relative;
	z-index: 2;
}
.header__slider {
	position: relative;
}
.header__box {
	display: flex;
	justify-content: space-between;
}
.header__box-left {
	width: 75%;
	position: relative;
}
.header__box-left::after {
	content: '';
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #e8072f 26.6%, #847f7b 26.6%);
	position: absolute;
	top: 0;
	left: 0;
}
.slick-initialized .header__slider-item {
	height: 450px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0 16px 20px 16px;
}
.header__slider-item .header__slider-subtitle {
	font-weight: 900;
	font-size: 16px;
	color: #fa6000;
	margin-bottom: 25px;
}
.header__slider-item .header__slider-text {
	font-size: 14px;
	color: #fff;
}
.slick-dots {
	display: flex;
	justify-content: flex-start;
	width: max-content;
	position: absolute;
	right: 16px;
	bottom: 90px;
}
.slick-dots li + li {
	margin-left: 10px;
}
.slick-dots button {
	font-size: 0;
	background-color: transparent;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 3px solid #fff;
}
.slick-dots .slick-active button {
	border: 3px solid #fa6000;
	background-color: #fa6000;
	transition: all .5s;
}
.header__box-right {
	width: 25%;
}
.header__box-right a {
	padding: 18px;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.header__box-right a span {
	font-size: 16px;
	color: #fff;
	position: relative;
	z-index: 1;
}
.header__box-right a img {
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: center;
	transition: all .5s;
}
.header__box-right a:hover > img {
	transform: scale(1.1);
}
.header__inner {
	display: flex;
	justify-content: space-between;
}
.header__item {
	width: 25%;
	height: 215px;
}
.header__item a {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 18px 16px;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.header__item a img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all .5s;
}
.header__item a:hover > img {
	transform: scale(1.1);
}
.header__item-subtitle, .header__item-text {
	position: relative;
	z-index: 1;
	font-size: 16px;
	color: #fff;
}
.header__item-subtitle span {
	position: relative;
}
.header__item-subtitle span::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -10px;
	height: 4px;
	background-color: #fff200;
}
.content__box {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #000;
	padding-bottom: 45px;
	padding-top: 34px;
}
.content__left {
	width: 75%;
	padding-right: 15px;
}
.content__tabs>input[type="radio"] {
	display: none;
}
.content__tabs>label {
	font-size: 16px;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	color: #fff;
	margin-bottom: 20px;
	cursor: pointer;
	display: inline-block;
}
.content__tabs>label~label {
	margin-left: 35px;
}
.content__tabs>input[type="radio"]:checked+label {
	color: #fa6000;
	transition: all .4s;
}
.content__tabs-item {
	min-height: 420px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	padding: 23px 17px;
	position: relative;
}
#tab-btn-1:checked~#tabs-item-1,
#tab-btn-2:checked~#tabs-item-2,
#tab-btn-3:checked~#tabs-item-3,
#tab-btn-4:checked~#tabs-item-4,
#tab-btn-5:checked~#tabs-item-5 {
	display: flex;
	align-items: flex-end;
	
}
.content__tabs-item button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 15px solid #fd6000;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}
.content__tabs-item button::before {
	content: '';
	position: absolute;
	left: 30px;
	top: 22px;
	border-left: 37px solid #fd6000;
	border-right: 0px solid transparent;
	border-top: 23px solid transparent;
	border-bottom: 23px solid transparent;
}
.content__tabs-item .tabs-item-text {
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
}
.content__right {
	width: 25%;
	margin-top: 38px;
	padding-left: 18px;
}
.content__slider {
	padding-top: 44px;
	position: relative;
}
.content__slider .slick-arrow {
	position: absolute;
	top: 0;
	height: 26px;
	width: 16px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}
.content__slider .slick-prev {
	background-image: url(../images/prev-arrow.svg);
	right: 31px;
}
.content__slider .slick-next {
	background-image: url(../images/next-arrow.svg);
	right: 0;
}
.content__slider-item :last-child {
	margin-bottom: 0;
}
.content__slider-news {
	margin-bottom: 12px;
	display: block;
}
.content__slider-news span {
	display: inline-block;
	width: 100%;
}
.content__slider-time {
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	opacity: .5;
	text-align: right;
}
.content__slider-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #fa6000;
	padding-right: 5px;
	letter-spacing: -0.4px;
}
.magazine__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.magazine__item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-basis: 50%;
	position: relative;
	background-color: #fff;
}
.magazine__item::after {
	content: '';
	background-image: url(../images/magazine-bg.png);
	background-position: top left;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.magazine__item>img {
	width: 50%;
	height: 100%;
	display: inline-block;
}
.magazine__item-content {
	height: 100%;
	position: relative;
	z-index: 1;
	padding-top: 20px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 40px;
}
.magazine__item-title {
	font-size: 16px;
	color: #f99b00;
	position: relative;
	padding-bottom: 6px;
	margin-bottom: 12px;
	display: inline-block;
}
.magazine__item-title::after {
	content: '';
	width: 100%;
	height: 3px;
	background-color: #f99b00;
	position: absolute;
	left: 0;
	bottom: 0;
}
.magazine__item-subtitle {
	font-size: 16px;
	line-height: 19px;
	color: #4d443e;
	margin-bottom: 14px;
}
.magazine__item-text {
	font-size: 14px;
	font-weight: 400;
	color: #000;
	line-height: 19px;
	margin-bottom: 20px;
	letter-spacing: -0.3px;
}
.magazine__item-more {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #fa6000;
	line-height: 17px;
	font-size: 14px;
}
.footer__inner {
	padding: 16px 15px;
	background-color: #4e443e;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__logo a {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 28px;
	position: relative;
	padding-right: 13px;
	line-height: 23px;
}
.footer__logo a::before {
	content: '';
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #f76108;
}
.footer__item-2 {
	display: flex;
}
.footer__item-link {
	margin-right: 7px;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	color: #fa6000;
}
.footer__item-copy, .footer__item-3 span {
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	color: #fff;
}
.footer__item-3 {
	display: flex;
	align-items: center;
}
.footer__item-social {
	width: 32px;
	height: 32px;
	margin-left: 5px;
}